/acl.d
*.o
*.d
/i386-softmmu/qemu
/qemu-ga
/qemu-options.def
/sig-gen/src/TAGS
/sig-gen/src/signa
/trace.c
/trace.c-timestamp
/trace.h
/trace.h-timestamp
/bin/qemu
/bin/esp
/bin/cr3
/TAGS
/qapi-generated/
/pc-bios/optionrom/
/doxygen_docs
/GPATH
/GRTAGS
/GTAGS
