/bin/log
*.o
*.d
/bin/cr3
/bin/de-target
/bin/debug_log
/i386-softmmu/qemu
/qemu-ga
/pc-bios/optionrom/linuxboot.bin
/pc-bios/optionrom/multiboot.bin
/qapi-generated/qga-qapi-types.c
/qapi-generated/qga-qapi-types.h
/qapi-generated/qga-qapi-visit.c
/qapi-generated/qga-qapi-visit.h
/qapi-generated/qga-qmp-commands.h
/qapi-generated/qga-qmp-marshal.c
/qemu-options.def
/trace.c
/trace.c-timestamp
/trace.h
/trace.h-timestamp
/TAGS
/bin/trace_handle.sh
/log
