/GPATH
/GRTAGS
/GTAGS
*.d
*.o
/i386-softmmu/qemu
/pc-bios/optionrom/linuxboot.bin
/pc-bios/optionrom/multiboot.bin
/qapi-generated/
/qemu-ga
/qemu-options.def
/sig-gen/src/signa
/trace.c
/trace.c-timestamp
/trace.h
/trace.h-timestamp
/bin/cr3
/bin/de-target
